server {
    listen 80;
    server_name ${LOCAL_BACKEND_DOMAIN};
    resolver 127.0.0.11 valid=5s ipv6=off;

    location / {
        set $fastapi_upstream http://fastapi:${BACKEND_PORT};
        proxy_pass $fastapi_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name ${LOCAL_FRONTEND_DOMAIN} ${LOCAL_ADMIN_DOMAIN};
    resolver 127.0.0.11 valid=5s ipv6=off;

    location / {
        set $react_upstream http://react:${FRONTEND_PORT};
        proxy_pass $react_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
