header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;

  @media (max-width: 1360px) {
    flex-direction: row;
  }

  select {
    border: none;
    outline: none;
    appearance: none;
    margin: 0 1.5rem;
  }

  a {
    text-decoration: none;

    .logo__and__name {
      display: flex;
      align-content: center;
      flex-direction: row;

      @media (max-width: 768px) {
      }

      .logo {
        width: 72px;
        height: 72px;
        margin-right: 8px;
      }

      .name__and__slogan {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 376px;

        h1 {
          font-size: 32px;
          color: #000;
          margin: 0;
          padding: 0;

          @media (max-width: 768px) {
            display: none;
          }
        }

        p {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.7);
          margin: 0;
          padding: 0;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;


    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      margin: 0;
      padding: 0;

      .user {
        width: 40px;
        height: 40px;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .btn {
      margin-left: 1.5rem;

      a {
        padding: 8px 16px;
        text-decoration: none;
        color: white;
        background-color: #d56550;
        border-radius: 16px;
        display: flex;
        align-items: center;

        .delim {
          margin: 0 8px;
          padding: 0;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 100;
        }

        svg {
          margin-left: 4px;
        }
      }
    }
  }
}


