APP_CONFIG__RUN__HOST=127.0.0.1
APP_CONFIG__RUN__PORT=8091

APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:generated-by-setup@localhost:55432/cheburek_db
APP_CONFIG__DB__TEST_URL=postgresql+asyncpg://postgres:generated-by-setup@localhost:55432/test_db
APP_CONFIG__DB__ECHO=0

APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=generated-by-setup
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=generated-by-setup

APP_CONFIG__MONGO_DB__HOST=localhost
APP_CONFIG__MONGO_DB__PORT=27018
APP_CONFIG__MONGO_DB__DATABASE_NAME=cheburek_mongo_db
APP_CONFIG__MONGO_DB__TEST_DATABASE_NAME=test_cheburek_mongo_db

APP_CONFIG__REDIS__HOST=localhost
APP_CONFIG__REDIS__PORT=6380
APP_CONFIG__REDIS__DB=0

APP_CONFIG__SESSION__SECRET_KEY=generated-by-setup
APP_CONFIG__CORS__ALLOWED_ORIGINS=http://app.local.cheburek-shop.com:5178,http://admin.local.cheburek-shop.com:5178,http://localhost:5178,http://127.0.0.1:5178

ADMIN_EMAIL=generated-by-setup
ADMIN_PASSWORD=generated-by-setup
