.app__wrapper {
  max-width: calc(1400px - 10rem);
  margin: 3rem auto;
  padding: 5rem;
  background-color: #fff;
  border-radius: 12px;

  @media (max-width: 768px) {
    padding: 3rem 1rem;
  }

  @media (max-width: 500px) {
    padding: 2rem 1rem;
  }
}