.not__found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;

  img {
    width: min(512px, 100%);
  }

  p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-wrap: anywhere;
  }
}
